.choice {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.player {
    margin: 10px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: row;
    background-color: rgb(61, 59, 59);
}